body {
  margin: 0;
  font-family: 'Hanken Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-family: 'Hanken Grotesk', sans-serif;
  font-weight: 500;
}

nav,
footer {
  font-family: 'Source Code Pro', monospace;
}

a {
  color: blue;
}

.title {
  font-family: 'Hanken Grotesk', sans-serif;
}

.stopwatch-display {
  font-family: 'Hanken Grotesk', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
