@import url("https://fonts.googleapis.com/css2?family=Miltonian+Tattoo&family=Orbitron&display=swap");

body {
  margin: 0;
  font-family: "Hanken Grotesk", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  font-family: "Hanken Grotesk", sans-serif;
  font-weight: 500;
}

nav,
footer {
  font-family: "Source Code Pro", monospace;
}

a {
  color: blue;
}

.title {
  font-family: "Miltonian Tattoo", cursive;
}

.background {
  background: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}

.stopwatch-display {
  font-family: "Orbitron", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
