.timer-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgb(2, 71, 2), rgb(20, 168, 7));
}

.timer-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
  height: 500px;
  background-color: #282c34;
}

.title {
  font-size: 50px;
  color: rgb(178, 219, 27);
}

.clock-digits {
  font-family: Monospace;
  font-size: 50px;
}